*.pyc
*.log
*.lp
*.eps
*.pdf
**/*.csv
**/*.xlsx
models/test_modules.py
models/test*
models/Test*
WorkSpace/**
**/*.pyc
**/*/*.pyc
/llmse/Examples/Examples_Thermal/Tests
/llmse/general/test_pint_pandas.py
/llmse/general/test_asynchronous_time.py
/llmse/general/test_parsing_expression.py
llmse.egg-info
build
dist
