/lms2/docs/_templates
/lms2/docs/generated
lms2.egg-info
developpement

# IDE configuration files
.idea
.spyder*
.ropeproject

# Python generates numerous files when byte compiling / installing packages
*.pyx
*.pyc
*.pyo
*.egg-info

# Documentation builds
doc/OnlineDocs/_build

# Running pyomo / tests / solvers occasionally leaves extra files
*.out
gurobi.log
*.lp
lms2.log

# Results from nosetests --with-coverage
.coverage
*.cover
